# Môi trường hệ thống
NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:3000

# Database (Dùng cho Docker Compose & Root scripts)
DB_USER=mockai
DB_PASSWORD=mockaiinter
DB_NAME=mockaidb
DB_PORT=5432
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}

TZ=UTC
VNPAY_VERSION=2.1.0
VNPAY_PAYMENT_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_TMN_CODE=TMN_CODE
VNPAY_SECURE_SECRET=SECURE_SECRET