@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Roboto", system-ui, sans-serif;
  --color-primary: #0ea5e9;
  --color-secondary: #38bdf8;
}

@layer base {
  body {
    @apply bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200 antialiased;
  }
}
