@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Roboto", system-ui, sans-serif;
  --color-primary: #aa3bff;
  --color-secondary: #c084fc;
}

@layer base {
  body {
    @apply bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200 antialiased;
  }
}
